@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none !important;
}

::-webkit-scrollbar {
    display: none !important;
}

.move-history {
    max-height: 130px;
    overflow-y: scroll;
}

td {
    width: 650px;
}

#leaderboard-container{
    background-color: transparent;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    padding: 15px;
}

#leaderboard-container:hover {
    background-color: wheat !important;
}

@media only screen and (max-width: 991px) {
    #leaderboard-container{
        padding: 0px;
    }

    #leaderboard-container:hover {
        background-color: transparent !important;
    }
}