@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none !important;
}

::-webkit-scrollbar {
    display: none !important;
}

.move-history {
    max-height: 130px;
    overflow-y: scroll;
}

td {
    width: 650px;
}

#leaderboard-container{
    background-color: transparent;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#leaderboard-container:hover, #leaderboard-container:active {
    background-color: wheat !important;
}
